<!-- -*- mode: XML -*- -->
<launch>
    <!-- <group ns="robot_state"> -->
		<param name="robot_description" command="$(find xacro)/xacro '$(find ginko_description)/models/ginko_auto/urdf/robot.urdf.xacro'" />
		<include file="$(find ginko_joint_controller)/launch/ginko_joint_controller.launch" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<!-- </group> -->

    <group ns="robot_goal">
		<arg name="gui" default="True"/>
		<param name="robot_description"
			command="$(find xacro)/xacro.py '$(find ginko_description)/models/ginko_auto/urdf/goal.urdf.xacro'" />
		<param name="use_gui" value="$(arg gui)"/>
		
		<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	 
	</group>

</launch>
