<launch>
	<!-- Dummy TFs of ring edge -->
	<group ns="roboone_ring">
		<node name="ring_node" pkg="roboone_ring_tf_publisher" type="roboone_ring_tf_publisher" required="true">
			<remap from="~right_edges" to="/roboone_ring/ring_node/right_edges" />
			<remap from="~left_edges" to="/roboone_ring/ring_node/left_edges" />
	    </node>
	</group>
</launch>

