<launch>
  <group ns="ginko">
    <node pkg="ginko_joint_controller_gazebo" type="ginko_joint_controller_gazebo" name="ginko_joint_controller" required="true" output="screen">
      <remap from="goal_joint_position" to="/goal_joint_position" />
      <remap from="joint_states" to="servo_joint_states" />
    </node>
  </group>

  

</launch>