<?xml version="1.0"?>
<robot name="ginko" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:include filename="$(find ginko_description)/models/ginko_auto/urdf/modules/body.urdf.xacro"/>
	<xacro:include filename="$(find ginko_description)/models/ginko_auto/urdf/modules/leg_r_mimic.urdf.xacro"/>
	<xacro:include filename="$(find ginko_description)/models/ginko_auto/urdf/modules/leg_l_mimic.urdf.xacro"/>
	<xacro:include filename="$(find ginko_description)/models/ginko_auto/urdf/modules/arm_r_mimic.urdf.xacro"/>
	<xacro:include filename="$(find ginko_description)/models/ginko_auto/urdf/modules/arm_l_mimic.urdf.xacro"/>


	<link name="world"/>
	<link name="base"/>

	<joint name="fixed1" type="fixed">
		<parent link="world"/>
		<child link="base"/>
	</joint>


<!-- 	<xacro:body name="body" parent="base"/>
	<xacro:leg_r name="leg_r" parent="body_leg_r_link"/>
	<xacro:leg_l name="leg_l" parent="body_leg_l_link"/>
	<xacro:arm_r name="arm_r" parent="body_arm_r_link"/>
	<xacro:arm_l name="arm_l" parent="body_arm_l_link"/> -->


	<xacro:body name="goal_body" parent="base"/>
	<xacro:leg_r name="goal_leg_r" parent="goal_body_link1"/>
	<xacro:leg_l name="goal_leg_l" parent="goal_body_link1"/>
	<xacro:arm_r name="goal_arm_r" parent="goal_body_link0"/>
	<xacro:arm_l name="goal_arm_l" parent="goal_body_link0"/>

	<!-- <xacro:include filename="robot.transmission.xacro" /> -->
	<!-- <xacro:include filename="robot.gazebo.xacro" /> -->
  

</robot>
