<launch>
	<group ns="sensor">
		<group ns="imu">
   		    <!-- IMUのドリフト補正。関節が動いていない時に重力方向周りのジャイロドリフトを補正する。 -->
   		    <node name="drift_correction" pkg="imu_drift_correction" type="imu_drift_correction" required="true">
		        <remap from="imu_raw_in" to="base"/>
   		        <remap from="imu_quaternion_in" to="madgwick"/>
   		        <remap from="imu_drift_correction_out" to="drift"/>
   		        <remap from="joint_goals_in" to="/servo_motor/goal_joint_position"/>
   		        <remap from="joint_states_in" to="/servo_motor/joint_states"/>
		    </node>
		</group>
	</group>
</launch>