<?xml version="1.0"?>
<launch>
    <group ns="robot_goal">
		<arg name="gui" default="True"/>
		<param name="robot_description"
			command="$(find xacro)/xacro.py '$(find ginko_description)/models/ginko_auto/urdf/robot.urdf.xacro'" />
		<param name="use_gui" value="$(arg gui)"/>
		
		<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	 
		<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cube_arm_description)/launch/urdf.rviz"/> -->
	</group>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find cube_arm_description)/launch/urdf.rviz"/>
</launch>