<!-- -*- mode: XML -*- -->
<launch>
	<!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
	<param name="robot_description"     textfile="$(find ginko_description)/gazebo/urdf/ginko_rviz.urdf" />

	
	<group ns="servo_motor">
	    <!-- servo controller -->
		<include file="$(find ginko_joint_controller)/launch/ginko_joint_controller.launch" >
			<!-- <rosparam file="$(find ginko_joint_controller)/cfg/servo_offsets.yaml" command="load"/> -->
		</include>
		<include file="$(find ginko_joint_offset)/launch/ginko_joint_offset.launch" >
			<!-- <rosparam file="$(find ginko_joint_controller)/cfg/servo_offsets.yaml" command="load"/> -->
		</include>
	
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"  launch-prefix="nice -n 0">
			<param name="publish_frequency" value="100"/>
			<param name="ignore_timestamp" value="true"/>
	    	<!-- use_tf_staticがtrueだとめっちゃ遅くなる。60Hzくらいしか出ない。 -->
			<param name="use_tf_static" value="false"/>
		</node>
	</group>

	<group ns="sensor">
	
		<!-- IMU -->
		<group ns="imu">
			<!-- Connect under USB-Serial with rosserial-arduino -->
		    <node name="imu_node" pkg="mpu6050_serial_to_imu" type="mpu6050_serial_to_imu_node" required="true" launch-prefix="nice -n 0">
		        <param name="port" value="/dev/ttyCH340_1.3"/>
		        <param name="frame_id" value="body_imu_attached_link"/>
		        <param name="broadcast_tf" value="false"/>
		        <remap from="imu" to="raw"/>
		    </node>
		</group>
		
		<!-- LiDAR (HOKUYO) -->
		<group ns="urg">
			<!-- Right LiDAR -->
			<group ns="right">
				<!-- Connect under USB-Serial -->
			    <node name="urg_right_node" pkg="urg_node" type="urg_node">
    				<!-- Topic name: /sensor/urg/right/scan -->
					<remap from="scan" to="scan_raw" />
					<param name="serial_port" value="/dev/ttyURG_1.4" />
					<param name="frame_id" value="arm_r_urg_link" />
					<param name="time_calib" value="-0.07" />
					<param name="ofs_const_calib" value="0.0" />
					<param name="ofs_linear_calib" value="0.0" />
<!-- 					<param name="ofs_const_calib" value="0.02" /> -->
<!-- 					<param name="ofs_linear_calib" value="0.0" /> -->
					<!-- <param name="angle_min" value="-2.2" /> -->
					<!-- <param name="angle_max" value="2.2" /> -->
				</node>
<!-- 				<node name="urg_r_filter" pkg="laser_filters" type="scan_to_scan_filter_chain" >
				   <rosparam command="load" file="$(find ginko_bringup)/config/urg_r.yaml" />
				   <remap from="scan" to="scan_raw" />
				   <remap from="scan_filtered" to="scan" />
				</node>
				<node name="urg_r_inside_ring" pkg="laser_filters" type="scan_to_scan_filter_chain" >
				   <rosparam command="load" file="$(find ginko_bringup)/config/urg_inside_ring.yaml" />
				   <remap from="scan" to="scan" />
				   <remap from="scan_filtered" to="scan_inside" />
				</node> -->
			</group>
			<!-- Left LiDAR -->
			<group ns="left">
				<!-- Connect under USB-Serial -->
			    <node name="urg_left_node" pkg="urg_node" type="urg_node">
       				<!-- Topic name: /sensor/urg/left/scan -->
					<remap from="scan" to="scan_raw" />
					<param name="serial_port" value="/dev/ttyURG_1.1" />
					<param name="frame_id" value="arm_l_urg_link" />
					<param name="time_calib" value="-0.07" />
					<param name="ofs_const_calib" value="0.03" />
					<param name="ofs_linear_calib" value="0.05" />
<!-- 					<param name="ofs_const_calib" value="0.08" /> -->
<!-- 					<param name="ofs_linear_calib" value="0.01" /> -->
			     	<!-- <param name="angle_min" value="-2.2" /> -->
			        <!-- <param name="angle_max" value="2.2" /> -->
				</node>
<!-- 				<node name="urg_l_filter" pkg="laser_filters" type="scan_to_scan_filter_chain" >
				   <rosparam command="load" file="$(find ginko_bringup)/config/urg_l.yaml" />
				   <remap from="scan" to="scan_raw" />
				   <remap from="scan_filtered" to="scan" />
				</node>
				<node name="urg_r_inside_ring" pkg="laser_filters" type="scan_to_scan_filter_chain" >
				   <rosparam command="load" file="$(find ginko_bringup)/config/urg_inside_ring.yaml" />
				   <remap from="scan" to="scan" />
				   <remap from="scan_filtered" to="scan_inside" />
				</node> -->
			</group>
		</group>
	</group>
</launch>
