<?xml version="1.0"?>
<robot name="ginko_xacro" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="model_mode" default="rviz"/>
  <xacro:arg name="gazebo_control_mode" default="ginko"/>

  <xacro:include filename="$(find ginko_description)/gazebo/xacro/sensors/imu.xacro"/>
  <xacro:include filename="$(find ginko_description)/gazebo/xacro/sensors/urg.xacro"/>
  <xacro:include filename="$(find ginko_description)/gazebo/xacro/modules/body.xacro"/>
  <xacro:include filename="$(find ginko_description)/gazebo/transmission/body.gazebo"/>
  <xacro:include filename="$(find ginko_description)/gazebo/xacro/modules/arm_l.xacro"/>
  <xacro:include filename="$(find ginko_description)/gazebo/transmission/arm_l.gazebo"/>
  <xacro:include filename="$(find ginko_description)/gazebo/xacro/modules/arm_r.xacro"/>
  <xacro:include filename="$(find ginko_description)/gazebo/transmission/arm_r.gazebo"/>
  <xacro:include filename="$(find ginko_description)/gazebo/xacro/modules/leg_l.xacro"/>
  <xacro:include filename="$(find ginko_description)/gazebo/transmission/leg_l.gazebo"/>
  <xacro:include filename="$(find ginko_description)/gazebo/xacro/modules/leg_r.xacro"/>
  <xacro:include filename="$(find ginko_description)/gazebo/transmission/leg_r.gazebo"/>

  <!-- MACRO:Loading Gazebo Controllers for joints -->
  <xacro:macro name="gazebo_plugin_xacro" params="gazebo_control_mode">
    <xacro:if value="${gazebo_control_mode=='ginko'}">
      <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"> 
          <robotNamespace>/ginko</robotNamespace> 
          <robotSimType>gazebo_ros_control/GinkoRobotHWSim</robotSimType>
          <legacyModeNS>true</legacyModeNS> 
        </plugin>
      </gazebo>
    </xacro:if>
    <xacro:if value="${gazebo_control_mode!='ginko'}">
      <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"> 
          <robotNamespace>/ginko</robotNamespace> 
          <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
          <legacyModeNS>true</legacyModeNS> 
        </plugin>
      </gazebo>
    </xacro:if>
  </xacro:macro>

  <!-- MACRO:Setting up a Robot Model -->
  <xacro:macro name="ginko_xacro" params="model_mode gazebo_control_mode">
    <link name="root_link"/>
    <joint name="root_joint" type="fixed">
        <parent link="root_link"/>
        <child  link="body_link0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
    <xacro:body_xacro model_mode="${model_mode}"/>
    <xacro:body_gazebo gazebo_control_mode="${gazebo_control_mode}"/>
    <xacro:leg_r model_mode="${model_mode}"/>
    <xacro:leg_r_gazebo gazebo_control_mode="${gazebo_control_mode}"/>
    <xacro:leg_l model_mode="${model_mode}"/>
    <xacro:leg_l_gazebo gazebo_control_mode="${gazebo_control_mode}"/>
    <xacro:arm_r model_mode="${model_mode}"/>
    <xacro:arm_r_gazebo gazebo_control_mode="${gazebo_control_mode}"/>
    <xacro:arm_l model_mode="${model_mode}"/>
    <xacro:arm_l_gazebo gazebo_control_mode="${gazebo_control_mode}"/>
  </xacro:macro>

  <!-- Load Macros -->
  <xacro:ginko_xacro model_mode="$(arg model_mode)" gazebo_control_mode="$(arg gazebo_control_mode)"/>
  <xacro:gazebo_plugin_xacro gazebo_control_mode="$(arg gazebo_control_mode)"/>
  <xacro:imu_xacro model_mode="$(arg model_mode)"/>
  <xacro:urg_xacro firame_id="arm_r_urg_link" topic_name="/sensor/urg/right/scan_raw" sensor_name="urg_right"/>
  <xacro:urg_xacro firame_id="arm_l_urg_link" topic_name="/sensor/urg/left/scan_raw" sensor_name="urg_left"/>

</robot>
