<?xml version="1.0"?>
<robot name="ginko_xacro" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="model_mode" default="rviz"/>

  <xacro:include filename="$(find ginko_description)/gazebo/xacro/modules/body.xacro"/>
  <xacro:include filename="$(find ginko_description)/gazebo/transmission/body.gazebo"/>
  <xacro:include filename="$(find ginko_description)/gazebo/xacro/modules/arm_l.xacro"/>
  <xacro:include filename="$(find ginko_description)/gazebo/transmission/arm_l.gazebo"/>
  <xacro:include filename="$(find ginko_description)/gazebo/xacro/modules/arm_r.xacro"/>
  <xacro:include filename="$(find ginko_description)/gazebo/transmission/arm_r.gazebo"/>
  <xacro:include filename="$(find ginko_description)/gazebo/xacro/modules/leg_l.xacro"/>
  <xacro:include filename="$(find ginko_description)/gazebo/transmission/leg_l.gazebo"/>
  <xacro:include filename="$(find ginko_description)/gazebo/xacro/modules/leg_r.xacro"/>
  <xacro:include filename="$(find ginko_description)/gazebo/transmission/leg_r.gazebo"/>

  <xacro:macro name="ginko_xacro" params="model_mode">
    <xacro:if value="${model_mode=='rviz'}">
      <xacro:body_xacro name="body" model_mode="rviz" />
      <xacro:body_gazebo name="body"/>
    </xacro:if>
  </xacro:macro>

  <xacro:ginko_xacro model_mode="$(arg model_mode)"/>

</robot>
