<!-- -*- mode: XML -*- -->
<launch>
	<include file="$(find ginko_bringup)/launch/startup_modules/modules/imu_filter.launch" />
	<include file="$(find ginko_bringup)/launch/startup_modules/modules/urg_filter.launch" />
	<!-- <include file="$(find ginko_bringup)/launch/startup_modules/modules/laser_assembler.launch" /> -->
	<include file="$(find ginko_bringup)/launch/startup_modules/modules/footstep_odometry.launch" />
	<include file="$(find ginko_bringup)/launch/startup_modules/modules/target_detector.launch" />
	<include file="$(find ginko_bringup)/launch/startup_modules/modules/motion_player.launch" />

	<include file="$(find roboone_ring_edge_detector)/launch/ring_edge_detector.launch" />
	<include file="$(find roboone_ring_tf_publisher)/launch/ring_tf_publisher.launch" />
	<include file="$(find roboone_ring_tf_publisher)/launch/static_tf_publishers.launch">
		<arg name="large_ring" value="0" />
	</include>

</launch>
