<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:macro name="small_ring" params="model_mode">
		<link name="small_ring_link0">
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<mesh filename="package://ginko_description/meshes/obj/large_ring.obj"/>
				</geometry>
			</collision>
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<mesh filename="package://ginko_description/meshes/obj/large_ring.obj"/>
				</geometry>
			</visual>
			<inertial>
				<mass value="484.78500000"/>
				<origin xyz="0 0 0.01500000" rpy="0 0 0"/>
				<inertia
					ixx="439.45933388"
					ixy="0.00000000" iyy="439.45933388"
					ixz="0.00000000" iyz="0.00000000" izz="878.84595000"/>
			</inertial>
		</link>
	</xacro:macro>
</robot>
