<?xml version="1.0"?>
<robot name="ginko" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find ginko_description)/gazebo/urdf_sim/modules/body.urdf.xacro"/>
  <xacro:include filename="$(find ginko_description)/gazebo/transmission/body.gazebo"/>

  <xacro:include filename="$(find ginko_description)/gazebo/urdf_sim/modules/arm_l.urdf.xacro"/>
  <xacro:include filename="$(find ginko_description)/gazebo/transmission/arm_l.gazebo"/>
  <xacro:include filename="$(find ginko_description)/gazebo/urdf_sim/modules/arm_r.urdf.xacro"/>
  <xacro:include filename="$(find ginko_description)/gazebo/transmission/arm_r.gazebo"/>

  <xacro:include filename="$(find ginko_description)/gazebo/urdf_sim/modules/leg_l.urdf.xacro"/>
  <xacro:include filename="$(find ginko_description)/gazebo/transmission/leg_l.gazebo"/>

  <xacro:include filename="$(find ginko_description)/gazebo/urdf_sim/modules/leg_r.urdf.xacro"/>
  <xacro:include filename="$(find ginko_description)/gazebo/transmission/leg_r.gazebo"/>
  <!-- Used for fixing robot to Gazebo 'base_link' -->
  <!-- <link name="base"/> -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/ginko</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <xacro:body_sim name="body"/>
  <xacro:body_gazebo name="body"/>

  <xacro:arm_l_sim name="arm_l" parent="body_link0"/>
  <xacro:arm_l_gazebo name="arm_l"/>
  <xacro:arm_r name="arm_r" parent="body_link0"/>
  <xacro:arm_r_gazebo name="arm_r"/>

  <xacro:leg_l_sim name="leg_l" parent="body_link1"/>
  <xacro:leg_l_gazebo name="leg_l"/>
  <xacro:leg_r_sim name="leg_r" parent="body_link1"/>
  <xacro:leg_r_gazebo name="leg_r"/>
</robot>
