<launch>
	<group ns="sensor">
		<group ns="imu">
		    <node name="imu_drift" pkg="imu_drift_correction" type="imu_drift_correction" required="true">
		        <remap from="imu_raw_in" to="raw/data"/>
   		        <param name="parent_link" value="body_imu_base_link" />
   		        <!-- ロボットの座標系に向きを合わせる -->
   		        <param name="fixture_euler_x" value="0.0" />
		        <param name="fixture_euler_y" value="1.57" />
   		        <param name="fixture_euler_z" value="0.0" />
   		        <!-- ジンバルロックして調整できないので調整用を別途用意 -->
   		        <param name="calib_euler_x" value="0.018" />
		        <param name="calib_euler_y" value="-0.05" />
   		        <param name="calib_euler_z" value="0.0" />
		    </node>
		</group>
	</group>
</launch>