<launch>
	<group ns="sensor">
		<group ns="imu">
		    <node name="imu_euler" pkg="imu_angle_correction" type="imu_angle_correction" required="true">
		        <remap from="imu_quaternion_in" to="madgwick"/>
		        <remap from="euler_out" to="madgwick_euler"/>
		    </node>
		</group>
	</group>
</launch>