<launch>
  <!-- Boot Manager -->
  <arg name="mng" default="ginko_joint_manager"/>
  <node pkg="nodelet" type="nodelet" args="manager" name="$(arg mng)" output="screen">
    <!--param name="num_worker_threads" value="8"/-->
  </node>

  <!-- Boot ocservo_driver nodelet -->
  <node pkg="nodelet" type="nodelet" args="load ginko_joint_controller/revolute $(arg mng)" name="futaba_driver" output="screen">
      <param name="port" value="/dev/ttyUSB0" />
      <param name="count" value="2"/>
      <param name="torque_const_1" value="0.1875"/>
      <param name="torque_const_2" value="0.1875"/>
      <param name="torque_const_3" value="0.1875"/>
      <param name="torque_const_4" value="0.1875"/>
      <param name="torque_const_5" value="0.17058823529411764"/>
      <param name="torque_const_6" value="0.17058823529411764"/>
  </node>

</launch>
